.page__container {
  font-size: 25px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: white;
  // @media (max-width: 700px) {
  //   padding: 0.5rem !important;
  // }
}

.slick-arrow {
  position: absolute !important;
  margin: 0 !important;
}

.bg__container {
  background-image: linear-gradient(
    to bottom,
    #05310f,
    #07270f,
    #071e0c,
    #031508,
    #000702
  );
}

.slick-next,
.slick-prev {
  cursor: pointer;
  position: relative;
  display: block;
  margin: 100px 0 0 100px;
  width: 45px;
  height: 45px;
  border: solid 3px white;
  border-radius: 100%;
  z-index: 1;
  transition: all 0.2s linear;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 10%;
    top: 41%;
    left: 55%;
    background: white;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.2s linear;
  }
  &:after {
    z-index: 3;
    top: 59%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover {
    border: solid 8px white;
    &:after,
    &:before {
      background: white;
    }
  }
  &:active {
    border: solid 8px white;
    &:after,
    &:before {
      background: white;
    }
  }
}

.slick-prev {
  transform: rotate(180deg) !important;
}

.sub-slider__wrap {
  .slick-next {
    right: -40px !important;
  }
  .slick-prev {
    left: -40px !important;
  }
  .slick-next,
  .slick-prev {
    width: 30px;
    height: 30px;
  }
}

.slick-next {
  transform: unset !important;
}

.page__container {
  .slick-next,
  .slick-prev {
    @media (max-width: 600px) {
      width: 30px;
      height: 30px;
    }
  }
}
